table {
  border: 1px solid white;
  border-collapse: collapse;
  margin-top: 0%;
  /*border-left: 4px solid  hsl(90, 100%, 32%);*/
  background-color: #fafafa;
}

.table {
  margin-bottom: 0rem;
}

.class-border-light {
  /*border-left: 1px solid hsl(70, 100%, 40%);*/
  border-bottom: 1px solid hsl(70, 100%, 40%);
}

.class-border {
  border-bottom: 1px solid whitesmoke;
  border-left: 2px solid hsl(90, 100%, 32%);
  /*background-color: #39ad61;*/
  /*border-bottom:5px solid hsl(90, 100%, 32%);*/
}

th,
td {
  border: 1px solid white;
  padding: 1px !important;
  word-break: break-all;
  /* font-size: 10px; */
  text-align: center;
}

th {
  font-size: 1rem;
}

td {
  font-size: 1rem;
}

tr td:first-child {
  font-size: 1rem;
}

/* td.red {
    color: red
  }

  td.blue {
    color: blue;
  }
 */
span.red {
  color: red;
}

span.blue {
  color: blue;
}

span.green {
  color: green;
}

.table-borderless td,
.table-borderless th {
  border: 0;
}

.margin-top p {
  margin-top: 3.125rem;
  font-size: 0.5rem;
}

select {
  border: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 0.75rem 0.625rem;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  margin-bottom: 1.875rem;
}

.colors {
  overflow: hidden;
  margin-bottom: 1.25rem;
}

.colors .color {
  display: inline-block;
  border-radius: 50%;
  width: 0.625rem;
  height: 0.625rem;
  margin-right: 0.3125rem;
}

.colors .color.red {
  background: #EB7F75
}

.colors .color.yellow {
  background: #FFDC73
}

.colors .color.blue {
  background: #8FDAFF
}

.colors .label {
  display: inline-block;
  margin-right: 0.625rem;
  font-size: 0.75rem;
  color: #333;
}

.header {
  padding: 0.5rem 0.625rem;
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 100;
  border-bottom: 1px solid #f0f0f0;
}

.header .nav {
  float: left;
}

.header nav img {
  width: 185px;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #fff;
}

.container {
  margin-top: 7.625rem;
}

html {
  scroll-behavior: smooth;
}

#side .nav-link.active,
#side .nav-link:hover,
#side .nav-link:focus {
  color: #111;
  /* border-bottom: 1px #000 dashed; */
}

@media (max-width:31.25rem) {
  .dropdown-menu {
    left: initial;
    margin-left: 0;
  }
}

@media (min-width:31.25rem) {
  .dropdown-menu {
    left: initial;
    margin-left: -1.875rem;
  }
}

.listEurope {
  column-count: 2;
  padding-left: 0;
}

/* .collapsible {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  } */
a {
  color: black;
  transition: 0.3s;
}

a:hover {
  color: hsl(90, 100%, 32%);
  text-decoration: none;
}

a:active {
  color: hsl(90, 100%, 32%);
}

/*
.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}*/
.largefont {
  font-size: 1.7em;
}

.largefont_data {
  font-size: 1.0em;
}

.mediumfont {
  font-size: 1.0em;
}

.smallfont {
  font-size: 0.8em;
}

.smallfont_data {
  font-size: 0.7em;
}

.mediumfont_data {
  font-size: 0.75em;
}

.warning_red {
  color: #fcece3;
  background-color: #ce2029;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.warning_yellow {
  color: #fcece3;
  background-color: #fab516;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

#report {
  margin-bottom: 100px
}
#report table tbody tr:nth-child(n+10){
    display: none;
}
#report.read-more table tbody tr:nth-child(n+10){
    display: table-row;
}
#report .read-more-box{
  text-align: center;cursor: pointer;margin:0 auto;display: inherit;background: #ffffff;
  color:#333;padding:5px 30px;margin-top: 10px;
}
#report .read-more-box:hover{
  background: #333;color:#fff;
}
.futura { color: #000000; font-family: Futura, "Trebuchet MS", Arial, sans-serif; }
#coronaUsMapReport tr td:first-child:hover{cursor:pointer;color:red;}

#coronaUsMapReport tr.on{
  background:#ffffa7;color:red;
}
.nav-side-bar{
  background:#fff;position: fixed;top: 30vh;right: 0;z-index: 10;
  /*margin-left: 100px;*/
  font-size: 12px;border-radius:5px;border:1px solid #f0f0f0;color:#666;;box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
.nav-side-bar .nav{
  margin:5px 0;border-bottom:1px solid #f0f0f0;cursor: pointer;display: inherit;text-align: right;padding: 10px;

}
.nav-side-bar .nav:last-child{border:none;background:#396257;color:#fff;text-align: center;margin:0}
.nav-side-bar .nav:nth-child(6){
  margin-bottom: 0;
}
.nav-side-bar .nav:hover{
  color:#000;
}
.nav-side-bar .nav:last-child:hover{
  color:#fff;background:#549080;
}
@media (max-width:600px) {
  .nav-side-bar{
    bottom:0;top:initial;width:100vw;display: flex;border-top:1px solid #999;
  }
  .nav-side-bar .nav{
    width:100%;display: inline;text-align: center;margin:0;padding-top:20px;
  }
  .nav-side-bar .nav:last-child{
    text-align:center;
  }
  #nav-usa{display: none;}
  #nav-global{display: none;}
}
@media (min-width:600px) {
}
.logo{
  animation: bounceIn 1.5s both 1s;
  -moz-animation: bounceIn 1.5s both 1s;
  -ms-animation: bounceIn 1.5s both 1s;
  -o-animation: bounceIn 1.5s both 1s;
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes bounceIn { 0% {
  -webkit-transform: scale(0.1);
  -webkit-opacity: 0;
}
60% {
  -webkit-transform: scale(1.2);
  -webkit-opacity: 1;
}
100% {
  -webkit-transform: scale(1);
}}
@-moz-keyframes bounceIn { 0% {
  -moz-transform: scale(0.1);
  -moz-opacity: 0;
}
60% {
  -moz-transform: scale(1.2);
  -moz-opacity: 1;
}
100% {
  -moz-transform: scale(1);
}}
@-ms-keyframes bounceIn { 0% {
  -ms-transform: scale(0.1);
  -ms-opacity: 0;
}
60% {
  -ms-transform: scale(1.2);
  -ms-opacity: 1;
}
100% {
  -ms-transform: scale(1);
}}
@-o-keyframes bounceIn { 0% {
  -o-transform: scale(0.1);
  -o-opacity: 0;
}
60% {
  -o-transform: scale(1.2);
  -o-opacity: 1;
}
100% {
  -o-transform: scale(1);
}}

/*main-swiper*/
.swiper-container {
  width: 100%;
  height: 100%;
  height:290px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 40%;
  ox-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius:10px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#recommend-slide .swiper-slide h3{font-size:15px;margin:15px 0;color:#fff;}
#recommend-slide .swiper-slide h3 b{color:red;}
#recommend-slide .swiper-slide ol{width:80%;font-size:17px;margin:0 auto;padding-left:20px;}
#recommend-slide .swiper-slide ol li{padding:2px;border:1px solid #ccc;margin:7px;border-radius:5px;}
#recommend-slide .swiper-slide ol li:first-child{background:#d4edda}
#recommend-slide .swiper-slide ol li b{margin-left:15px}
#recommend-slide .swiper-slide ol li b span{margin-left:5px;}
#recommend-slide .swiper-slide .dwn{color:blue;}
#recommend-slide .swiper-slide .up{color:red;}
#recommend-slide{margin:30px 0;padding:20px 0;background:#333;}
#recommend-slide .swiper-slide .ol-box{background:#fff;padding:20px 10px;border-radius:6px;}
@media(max-width:600px){
  .swiper-container{height:350px;}
  .swiper-slide {
    width:80%;
  }
  .swiper-slide:nth-child(2n) {
    width:80%;
  }
  .swiper-slide:nth-child(3n) {
    width:80%;
  }
  #recommend-slide{padding-left:20px;}
  #recommend-slide .swiper-slide ol{width:95%;}
}
@media(min-width:600px){
  .swiper-container{height:290px;}
  .swiper-slide {
    width:40%;
  }
  .swiper-slide:nth-child(2n) {
    width:40%;
  }
  .swiper-slide:nth-child(3n) {
    width:40%;
  }
  .slide-cont{max-width:1110px;margin:0 auto;}
}
#recommend-slide .swiper-pagination-bullet{
  background:none;border:2px solid #396257;
}
#recommend-slide .swiper-pagination-bullet-active{
  background:#c3e6cb;border:none;
}
