<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
<link rel="stylesheet" href="../style.css" />

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>

<div id="coronainfo"><h1>COVID-19</h1></div>
<div class="sidenav">
  <a href="#name">Name</a>
  <a href="#spread">How it spreads</a>
  <a href="#travel">Travel guidance</a>
  <a href="#severity">Severity</a>
  <a href="#whattodo">What to do</a>
  <a href="#symptoms">Symptoms</a>
  <a href="#handwashing">Handwashing tip</a>
</div>
<div class="main">
  <div>
    <h2 name="name">
      <a id="name">
        Name:
      </a>
    </h2>
    <p> The virus has been named “SARS-CoV-2” and the disease it causes has been named “coronavirus disease 2019” (abbreviated “COVID-19”).</p>
  </div>
  <h2 name="spread">
    <a id="spread">
      How it spreads
    </a>
  </h2>
    <ul>
      <li>Between people who are in close contact with one another (within about 6 feet)</li>
      <li>Through respiratory droplets produced when an infected person coughs or sneezes.</li>
    </ul>
  <h2>Spread from contact with contaminated surfaces or objects</h2>
    <p>
      It may be possible that a person can get COVID-19 by touching a surface or object that has the virus on it and then touching their own mouth, nose, or possibly their eyes, but this is not thought to be the main way the virus spreads
    </p>
  <h2 name="travel">
    <a id="travel" href="https://www.cdc.gov/coronavirus/2019-ncov/travelers/index.html">
      Travel guidance
    </a>
  </h2>
  <ul> Widespread & restricted on entry to the US
    <li>
      <a href="https://wwwnc.cdc.gov/travel/notices/warning/novel-coronavirus-china">
        China
      </a>
    </li>
    <li>
      <a href="https://wwwnc.cdc.gov/travel/notices/warning/coronavirus-iran">
        Iran
      </a>
    </li>
    <li>
      <a href="https://wwwnc.cdc.gov/travel/notices/warning/coronavirus-europe">
        Most of Europe
      </a>
      <button type="button" class="collapsible">
        Click to expand the list
      </button>
      <div class="contents">
        <ul class= "listEurope">
          <li>Austria</li>
          <li>Belgium</li>
          <li>Czech Republic</li>
          <li>Denmark</li>
          <li>Estonia</li>
          <li>Finland</li>
          <li>France</li>
          <li>Germany</li>
          <li>Greece</li>
          <li>Hungary</li>
          <li>Iceland</li>
          <li>Italy</li>
          <li>Latvia</li>
          <li>Liechtenstein</li>
          <li>Lithuania</li>
          <li>Luxembourg</li>
          <li>Malta</li>
          <li>Netherlands</li>
          <li>Norway</li>
          <li>Poland</li>
          <li>Portugal</li>
          <li>Slovakia</li>
          <li>Slovenia</li>
          <li>Spain</li>
          <li>Sweden</li>
          <li>Switzerland</li>
          <li>Monaco</li>
          <li>San Marino</li>
          <li>Vatican City</li>
        </ul>
      </div>
    </li>
  </ul>
  <ul> Widespread & no restriction on entry to the US (But avoid Nonessential Travel)
    <li>
      <a href="https://wwwnc.cdc.gov/travel/notices/warning/coronavirus-south-korea">
        South Korea
      </a>
    </li>
  </ul>
  <div>
    <h2 name="severity">
      <a id="severity">
        Severity:
      </a>
    </h2>
    <p>
      Reported illnesses have ranged from very mild (including some with no reported symptoms) to severe, including illness resulting in death. While information so far suggests that most COVID-19 illness is mild, a reportexternal icon out of China suggests serious illness occurs in 16% of cases. Older people and people of all ages with severe underlying health conditions — like heart disease, lung disease and diabetes, for example — seem to be at higher risk of developing serious COVID-19 illness
    </p>
  </div>
  <h2 name="whattodo">
    <a id="whattodo" href="https://www.cdc.gov/coronavirus/2019-ncov/specific-groups/high-risk-complications.html#Have-supplies-on-hand">
      What to do:
    </a>
  </h2>
  <ul>
    <li>
      Stock up on supplies
    </li>
    <li>
      Take everyday precautions to keep space between yourself and others
      <button type="button" class="collapsible">
        Click to expand the list
      </button>
      <div class="contents">
        <ul>
          <li>Clean your hands often</li>
          <li>Wash your hands often with soap and water for at least 20 seconds, especially after blowing your nose, coughing, or sneezing, or having been in a public place</li>
          <li>If soap and water are not available, use a hand sanitizer that contains at least 60% alcohol.</li>
          <li>To the extent possible, avoid touching high-touch surfaces in public places – elevator buttons, door handles, handrails, handshaking with people, etc. Use a tissue or your sleeve to cover your hand or finger if you must touch something.</li>
          <li>Wash your hands after touching surfaces in public places.</li>
          <li>Avoid touching your face, nose, eyes, etc.</li>
          <li>Clean and disinfect your home to remove germs: practice routine cleaning of frequently touched surfaces (for example: tables, doorknobs, light switches, handles, desks, toilets, faucets, sinks & cell phones)</li>
          <li>Avoid crowds, especially in poorly ventilated spaces. Your risk of exposure to respiratory viruses like COVID-19 may increase in crowded, closed-in settings with little air circulation if there are people in the crowd who are sick</li>
          <li>Avoid all non-essential travel including plane trips, and especially avoid embarking on cruise ships.</li>
        </ul>
      </div>
    </li>
    <li>
      When you go out in public, keep away from others who are sick, limit close contact and wash your hands often
    </li>
    <li>
      Avoid crowds as much as possible
    </li>
    <li>
      Avoid cruise travel and non-essential air travel
    </li>
    <li>
      During a COVID-19 outbreak in your community, stay home as much as possible to further reduce your risk of being exposed
    </li>
  </ul>

  <div>
    <h2 name="symptoms">
      <a id="symptoms" href="https://www.cdc.gov/coronavirus/2019-ncov/about/symptoms.html">
        Symptons
      </a>*
    </h2>
  </div>
  <ul>
    <li>
      Difficulty breathing or shortness of breath
    </li>
    <li>
      Fever, cough
    </li>
    <li>
      Persistent pain or pressure in the chest
    </li>
    <li>
      New confusion or inability to arouse
    </li>
    <li>
      Bluish lips or face
    </li>
  </ul>
  <p>
    *This list is not all inclusive. Please consult your medical provider for any other symptoms that are severe or concerning
  </p>

    <h2>
      <a href="https://www.cdc.gov/coronavirus/2019-ncov/about/steps-when-sick.html">
        What to do if you are sick
      </a>
    </h2>
    <h2 name="handwashing">
      <a id="handwashing">
        Handwashing tip
      </a>
    </h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/d914EnpU4Fo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe>
</div>
<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>
</body>
</html>
