#us-map{
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;

}
.level1 {
  background: #efb3ab !important
}

.level2 {
  background: #ef7564 !important
}

.level3 {
  background: #ef7564 !important
}

.level4 {
  background: #cf513d !important
}

.level5 {
  background: #933b27 !important
}

#level1 {
  fill: #efb3ab !important
}

#level2 {
  fill: #ef7564 !important
}

#level3 {
  fill: #ef7564 !important
}

#level4 {
  fill: #cf513d !important
}

#level5 {
  fill: #933b27 !important
}

.levelofseriousness {
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    margin: -.2rem .2rem 0 0;
    background: #f5d3ce;
    border-radius: 100rem;
}


.levelofseriousness:hover {
background-color:red !important
}


path:hover, circle:hover {
  stroke: #ec9488 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #f5d3ce !important;
  cursor: pointer;
}
#path67 {
  fill: none !important;
  stroke: #f5d3ce !important;
  cursor: default;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #f5d3ce;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}
